.PhotoG-grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #d8e7f3;
  padding: 10px;
}
.PhotoG {
  margin: 10% 1% 0 1%;
}
.PhotoG-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.PhotoG-grid-item > img {
  width: 100%;
  border-radius: 10px;
}
.PhotoG-grid-item {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.PG-item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.PG-item2 {
  grid-column: 5;
  grid-row: 1 / span 2;
}

.PG-item5 {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.PG-item4 {
  grid-column: 1;
  grid-row: 2 / span 3;
}
