@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.H1 {
  margin-top: 10%;
}
.H1-img-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.H1-img {
  margin: 15% 5% 5% 5%;
  width: 70%;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(73, 54, 54, 0.55));
}
.H1-head {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
