@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 150%;
  height: 65px;
  display: flex;
  flex-direction: row;
}
@font-face {
  font-family: Atteron;
  src: url(AtteronPersonalUse-PKrBx.otf);
}

.BH-nav-icon {
  width: 12vw;
  padding: 2%;
  margin: 0 90% 0 0;
}
.BH-nav-sec {
  margin: 0 50% 0 0;
}
.navbar-d {
  margin: 1% 0% 0 45%;
}

@media only screen and (max-width: 500px) {
  .BH-nav-icon {
    width: 7rem;
    margin: 3%;
  }
}
