@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

.B1 {
  margin-top: 10%;
  padding: 10% 0 10% 0;
  background-repeat: no-repeat;
  background-size: 1300px 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(73, 54, 54, 0.452)),
    url("./img/h.jpg");

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.B1-img {
  width: 65%;
  border-radius: 10px;
}
.B1-img-sec {
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.B1-head {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.Share-head {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.Share-img-1,
.Share-img-2 {
  width: 25%;
  height: 50px;
}
.Share-img-3 {
  width: 35%;
  height: 50px;
}

.Share-grid-container {
  display: grid;
  height: 200px;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #fff;
  padding: 13rem;
}

.Share-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  text-align: center;
  height: 200px;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1rem;
}
.Share-info {
  padding: 0 5% 5% 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.Share-s {
  /* color: rgb(17, 242, 46); */
  color: crimson;
}

/* -------------------------------Mess department------------------------- */
.Mess-icon {
  width: 47%;
  margin-left: 12%;
}

.Mess {
  margin-top: 5%;
}
.Mess-h-sec {
  display: flex;
}
.Mess-head {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  margin: 5% 0 0 10%;
}
.Mess-head2 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0% 0 0 10%;
}
.Mess-head-sec {
  margin: 10% 0 0 5%;
}
.Mess-hs {
  margin-left: 7%;
}
.Mess-info {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  padding: 0 10% 0 11%;
  color: rgb(155, 154, 153);
}
.Mess-dep {
  width: 80%;
  height: fit-content;
  margin: 0 5% 7% 10%;
  border-radius: 10px;
  margin-top: -12%;
  /* background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 73%); */

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Mess-d-head {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: 5%;
}
